body {
  display: flex;
  justify-content: center;

  font-family: Impact, Charcoal, sans-serif;
  font-size: 24px;
  color: rgb(65, 65, 165);
  text-align: center;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;

  width: 150px;
}

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40vmax;
  background-color: rgb(221, 221, 221);
  width: 80%;
}

.main-form > * {
  margin: 30px 150px;
}
